@font-face {
  font-family: "JBMono";
  src: url("fonts/JetBrainsMono-Regular.woff2") format("woff");
}

html, body {
  margin: 0;
  padding: 0;
}

#canvasInput {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  resize: none;
  cursor: default;
}